body {
    font-family: "Microsoft YaHei", serif;
    background-size: 100% 100%;
    background: url(../images/advancePic/background.png) no-repeat;
}

.op-linkbutton {
    position: relative;
    display: inline-block;
    top: 0;
    padding: 0 3px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
}

/*自定义滚动条*/
.scrollbar-wrapper {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

::-webkit-scrollbar-corner {
    background: #179a16;
}

/*按钮*/
.greenColorButton {
    color: white;
    background-color: #55cb86;
    border-radius: 3px;
    border: 0;
    outline: none;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}

.greenColorButton:hover {
    background-color: #f5d9b1;
}

.blueColorButton {
    color: white;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 0;
    outline: none;
    font-family: KaiTi;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.blueColorButton:hover {
    background-color: #eec7a1;
}

.pinkColorButton {
    color: white;
    background-color: lightpink;
    border-radius: 3px;
    border: 0;
    outline: none;
    font-family: KaiTi;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.pinkColorButton:hover {
    background-color: #e595e5;
}

/*iconCls*/
.icon-seedPurchase {
    background-size: 16px;
}

.icon-userLogin {
    background-size: 16px;
}